.slider-image {
  margin-top: 10px;
  flex: 0 0 calc(50% - 10px); /* Устанавливаем ширину элемента */
  padding: 20px;
  position: relative;
}
.slider-image::before {
  padding-top: 100%;
  display: block;
  content: "";
}
.slider-image img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: auto;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slider-image img.active {
  opacity: 1;
}
